@model IEnumerable<NewsBaseViewModel>

@{
    ViewData["Title"] = "Home - Newsweek";
}

@section Styles {
    <link rel="stylesheet" href="~/css/news.css" />
}

<div class="text-center">
    <h1 class="display-4">Newsweek</h1>
    <p>Latest breaking news available. Stay informed on European and world news about economy, politics, sport, IT… with Newsweek</p>
</div>

<p>
    <a class="weatherwidget-io" href="https://forecast7.com/en/42d7023d32/sofia/" data-label_1="Sofia, Bulgaria" data-label_2="WEATHER" data-theme="retro-sky">Sofia, Bulgaria WEATHER</a>
</p>

@foreach (var grouped in Model.GroupBy(x => x.Subcategory.Category.Name))
{
    <div class="album top-news">
        <h4 class="text-center font-weight-bold p-3">@grouped.Key</h4>
        <div class="row">
            @foreach (var news in grouped)
            {
                <partial name="_NewsPartial" model="news" />
            }
        </div>
    </div>
}

@section Scripts {
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
}