@model (int newsId, IEnumerable<GetCommentViewModel> comments)

<div id="comments">
    <h3><span id="comments-count">@Model.comments.Count()</span> Comments</h3>
    <hr align="left" />

    <div id="addComment">
        <form 
              class="form-group" 
              data-ajax="true" 
              data-ajax-method="post" 
              data-ajax-success="handleSuccesfulComment" 
              data-ajax-failure="handleFailedComment"
              data-ajax-update="#existingComments" 
              data-ajax-mode="after" 
              data-ajax-url="/Comments/Post">
            @{
                string disable = string.Empty;
                string placeholder = string.Empty;

                if (User.Identity.IsAuthenticated)
                {
                    <input type="hidden" name="NewsId" value="@Model.newsId" />
                }
                else
                {
                    disable = "disabled=\"disabled\"";
                    placeholder = "Sign in to comment...";
                }
            }

            <textarea name="Content" class="form-control" maxlength="@ValidationConstants.COMMENT_MAX_CONTENT_LENGTH" rows="5" @disable placeholder="@placeholder"></textarea>
            <input type="submit" class="form-control btn btn-success" @disable value="Comment" />
        </form>
    </div>
    <div id="existingComments">
        @foreach (var comment in Model.comments)
        {
            <partial name="_CommentPartial" model="comment" />
        }
    </div>
</div>