@model (int NewsId, CommentsListViewModel CommentsList)

<div id="comments">
    <h3><span id="comments-count">@Model.CommentsList.TotalCount</span> Comments</h3>
    <hr align="left" />

    <div id="addComment">
        <form 
              class="form-group" 
              data-ajax="true" 
              data-ajax-method="post" 
              data-ajax-success="handleSuccesfulComment" 
              data-ajax-failure="handleFailedComment"
              data-ajax-update="#existingComments" 
              data-ajax-mode="after" 
              data-ajax-url="/Comments/Post">
            @{
                string disable = string.Empty;
                string placeholder = "Write a comment..."   ;

                if (User.Identity.IsAuthenticated)
                {
                    <input type="hidden" name="NewsId" value="@Model.NewsId" />
                }
                else
                {
                    disable = "disabled=\"disabled\"";
                    placeholder = "Sign in to comment...";
                }
            }

            <textarea name="Content" class="form-control" maxlength="@ValidationConstants.COMMENT_MAX_CONTENT_LENGTH" rows="5" @disable placeholder="@placeholder"></textarea>
            <input type="submit" class="form-control btn btn-success" @disable value="Comment" />
        </form>
    </div>
    <div id="existingComments">
        <button type="button" class="btn btn-link">View more comments</button>

        @foreach (var comment in Model.CommentsList.Comments)
        {
            <partial name="_CommentPartial" model="comment" />
        }
    </div>
</div>