@model SearchResponseViewModel

@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Search.Subcategory) ?
        Model.Search.Category :
        $"{Model.Search.Category}/{Model.Search.Subcategory}";
}

@section Styles {
    <link rel="stylesheet" href="~/css/news.css" />
}

<small class="lead">
    Showing
    <span class="font-weight-bolder">@Model.NewsCount</span>
    results for
    <span class="font-weight-bolder">@ViewData["Title"]</span>
</small>

<div class="album top-news">
    @{
        <div class="row">
            @foreach (var news in Model.News)
            {
                <partial name="_NewsPartial" model="news" />
            }
        </div>
    }
</div>

<partial name="_PaginationPartial" model="Model" />